html,
body {
    height: 100%;
}


#hero {
    margin-top: 50px;
    background: url('../img/cover.JPG');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: contain;
    background-color: #D4B49B;
    height: 100%;
    display: table;
    width: 100%;
}

#hero h1 {
    font-size: 3em;
    color: white;
}

#hero > div {
    font-family: 'Sigmar One', cursive;
    display: table-cell;
    vertical-align:bottom;
    padding-bottom: 20px;
}

#hero p {
    font-size: 3em;
    margin: 20px;
}

.box {
    color:cornflowerblue;
    text-decoration: none;
    margin: 10px;
    padding: 9px;
    border: 2px solid black;
}

.two {
    padding: 100px;
    background-color: lightgreen;
    color: dimgrey;
    text-align: center;
}

.two h2 {
    font-family: 'Sigmar One', cursive;
}

p {
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
}