html, body {
    height: 100%;
}

.hero{
    background-color: blue;
    margin-top: 50px;
    background: url('../img/cover.JPG');
    background-position:center;
    background-repeat: no-repeat;
    text-align: center;
    background-size:contain;
    height: 100%;
    display: table;
    width: 100%;
}

.hero > div {
    font-family: 'Sigmar One', cursive;
    display: table-cell;
    vertical-align:bottom;
    padding-bottom: 100px;
/*    background-color: #D4B49B;*/
}

.box {
    border: 2px solid black;
}

.part2 {
    background-color: lightgreen;
    color: dimgrey;
    text-align: center;
}

.part2 h2 {
    font-family: 'Sigmar One', cursive;
}

p {
  font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
}